* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  padding-left:1%

}

a {
  text-decoration: none;
}

/*----------------------------------------*/
/*-----------------HEADER-----------------*/
/*----------------------------------------*/

header {
  background-color: teal;
}

a, a:visited {
  color:white;
}

a:hover {
  color:lightgrey;
}

.my-list {
  margin:0;
  padding:5;
  display: flex;
  padding: 0.5em 0 0.5em 1em;
}

/*----------------------------------------*/
/*-----------------TITLE------------------*/
/*----------------------------------------*/

#month-title {
  text-align: center;
}

/*----------------------------------------*/
/*--------MAIN ARTICLE SECTION-----------*/
/*----------------------------------------*/

#main-article {
  padding: 0 0.75em 0 0.75em;
}

/*----------------------------------------*/
/*-------------EVENTS SECTION-------------*/
/*----------------------------------------*/

#events {
  display:flex;
  flex-direction: row;
}
.each-event {
  display:flex;
  flex-direction: column;
  padding: 1em;
  width:100%;
}
.each-event img {
  width:100%;
  height: auto;


}

/*----------------------------------------*/
/*-----------------FOOTER-----------------*/
/*----------------------------------------*/

footer {
  background-color: teal;
}
@media only screen and (min-width : 400px) {
  bac
  /*-----------------HEADER-----------------*/
  /* no changes */
  /*-----------------TITLE------------------*/
  /* no changes */
  /*--------MAIN ARTICLE SECTION-----------*/
  /* no changes */
  /*-------------EVENTS SECTION-------------*/

  /*-----------------FOOTER-----------------*/
  /* no changes */

}
